Finance.ConsoleApp/Connected Services/FinanceService/VatCodes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxRecords" type="xs:int" />
      <xs:element minOccurs="0" name="StartRecord" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFilter" nillable="true" type="tns:GetFilter" />
</xs:schema>