Finance.ConsoleApp/Connected Services/FinanceService/VatCodes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61153/VatCodes.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Shared" />
  <xs:import schemaLocation="http://localhost:61153/VatCodes.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.ErrorLogging" />
  <xs:import schemaLocation="http://localhost:61153/VatCodes.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Codes.VATCodes" />
  <xs:complexType name="OperationRequestOfGetFilterwtwv8Fop">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationRequestOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetFilter" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Shared" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="tns:RequestContext" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Shared" minOccurs="0" name="InputValue" nillable="true" type="q1:GetFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationRequestOfGetFilterwtwv8Fop" nillable="true" type="tns:OperationRequestOfGetFilterwtwv8Fop" />
  <xs:complexType name="RequestContext">
    <xs:sequence>
      <xs:element name="_x003C_CompanyId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_LACode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SchoolCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserId_x003E_k__BackingField" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestContext" nillable="true" type="tns:RequestContext" />
  <xs:complexType name="OperationResponseOfArrayOfVatCodeModelA5AG2GQ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfVatCodeModel" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Codes.VATCodes" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_AjaxRedirect_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Authenticated_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_HasError_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_HasWarning_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_MessageStackTrace_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Finance.Shared.ErrorLogging" name="_x003C_MessageType_x003E_k__BackingField" type="q2:FinanceExceptionType" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Codes.VATCodes" name="_x003C_ReturnValue_x003E_k__BackingField" nillable="true" type="q3:ArrayOfVatCodeModel" />
      <xs:element name="_x003C_RowsAffected_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SelfReload_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResponseOfArrayOfVatCodeModelA5AG2GQ0" nillable="true" type="tns:OperationResponseOfArrayOfVatCodeModelA5AG2GQ0" />
  <xs:complexType name="OperationRequestOfArrayOfVatCodeEditModelA5AG2GQ0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationRequestOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfVatCodeEditModel" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Codes.VATCodes" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="tns:RequestContext" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Codes.VATCodes" minOccurs="0" name="InputValue" nillable="true" type="q4:ArrayOfVatCodeEditModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationRequestOfArrayOfVatCodeEditModelA5AG2GQ0" nillable="true" type="tns:OperationRequestOfArrayOfVatCodeEditModelA5AG2GQ0" />
  <xs:complexType name="OperationResponseOfNullV8ACsWWl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Null" Namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_AjaxRedirect_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Authenticated_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_HasError_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_HasWarning_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_MessageStackTrace_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Finance.Shared.ErrorLogging" name="_x003C_MessageType_x003E_k__BackingField" type="q5:FinanceExceptionType" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReturnValue_x003E_k__BackingField" nillable="true" type="tns:Null" />
      <xs:element name="_x003C_RowsAffected_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SelfReload_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResponseOfNullV8ACsWWl" nillable="true" type="tns:OperationResponseOfNullV8ACsWWl" />
  <xs:complexType name="Null">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Null" nillable="true" type="tns:Null" />
</xs:schema>