Finance.ConsoleApp/Connected Services/FinanceService/VatCodes3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61153/VatCodes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" />
  <xs:element name="GetVatCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" minOccurs="0" name="request" nillable="true" type="q1:OperationRequestOfGetFilterwtwv8Fop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVatCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" minOccurs="0" name="GetVatCodesResult" nillable="true" type="q2:OperationResponseOfArrayOfVatCodeModelA5AG2GQ0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVatCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" minOccurs="0" name="request" nillable="true" type="q3:OperationRequestOfArrayOfVatCodeEditModelA5AG2GQ0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVatCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Finance.Shared.Common" minOccurs="0" name="UpdateVatCodesResult" nillable="true" type="q4:OperationResponseOfNullV8ACsWWl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>