Finance.ConsoleApp/Connected Services/FinanceService/VatCodes5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Codes.VATCodes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Finance.Shared.Models.Codes.VATCodes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVatCodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VatCodeModel" nillable="true" type="tns:VatCodeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVatCodeModel" nillable="true" type="tns:ArrayOfVatCodeModel" />
  <xs:complexType name="VatCodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="VATCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VATCodeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VatCodeModel" nillable="true" type="tns:VatCodeModel" />
  <xs:complexType name="ArrayOfVatCodeEditModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VatCodeEditModel" nillable="true" type="tns:VatCodeEditModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVatCodeEditModel" nillable="true" type="tns:ArrayOfVatCodeEditModel" />
  <xs:complexType name="VatCodeEditModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="VATCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VATCodeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VatCodeEditModel" nillable="true" type="tns:VatCodeEditModel" />
</xs:schema>